src/conf/xml-resources/web-service-references/HeapBeatsWebServiceImpl/wsdl/localhost_8084/HeapBeatsWebService/HeapBeatsWebServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://heapbeats.ws.projects.my/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://heapbeats.ws.projects.my/" name="HeapBeatsWebServiceImpl">
<types>
<xsd:schema>
<xsd:import namespace="http://heapbeats.ws.projects.my/" schemaLocation="http://localhost:8084/HeapBeatsWebService/HeapBeatsWebServiceImpl?xsd=1" />
</xsd:schema>
</types>
<message name="getFreeMemory">
<part name="parameters" element="tns:getFreeMemory" />
</message>
<message name="getFreeMemoryResponse">
<part name="parameters" element="tns:getFreeMemoryResponse" />
</message>
<message name="getMaxMemory">
<part name="parameters" element="tns:getMaxMemory" />
</message>
<message name="getMaxMemoryResponse">
<part name="parameters" element="tns:getMaxMemoryResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="getTotalMemory">
<part name="parameters" element="tns:getTotalMemory" />
</message>
<message name="getTotalMemoryResponse">
<part name="parameters" element="tns:getTotalMemoryResponse" />
</message>
<portType name="HeapBeatsWebServiceImpl">
<operation name="getFreeMemory">
<input wsam:Action="http://heapbeats.ws.projects.my/HeapBeatsWebServiceImpl/getFreeMemoryRequest" message="tns:getFreeMemory" />
<output wsam:Action="http://heapbeats.ws.projects.my/HeapBeatsWebServiceImpl/getFreeMemoryResponse" message="tns:getFreeMemoryResponse" />
</operation>
<operation name="getMaxMemory">
<input wsam:Action="http://heapbeats.ws.projects.my/HeapBeatsWebServiceImpl/getMaxMemoryRequest" message="tns:getMaxMemory" />
<output wsam:Action="http://heapbeats.ws.projects.my/HeapBeatsWebServiceImpl/getMaxMemoryResponse" message="tns:getMaxMemoryResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://heapbeats.ws.projects.my/HeapBeatsWebServiceImpl/helloRequest" message="tns:hello" />
<output wsam:Action="http://heapbeats.ws.projects.my/HeapBeatsWebServiceImpl/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="getTotalMemory">
<input wsam:Action="http://heapbeats.ws.projects.my/HeapBeatsWebServiceImpl/getTotalMemoryRequest" message="tns:getTotalMemory" />
<output wsam:Action="http://heapbeats.ws.projects.my/HeapBeatsWebServiceImpl/getTotalMemoryResponse" message="tns:getTotalMemoryResponse" />
</operation>
</portType>
<binding name="HeapBeatsWebServiceImplPortBinding" type="tns:HeapBeatsWebServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getFreeMemory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMaxMemory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTotalMemory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="HeapBeatsWebServiceImpl">
<port name="HeapBeatsWebServiceImplPort" binding="tns:HeapBeatsWebServiceImplPortBinding">
<soap:address location="http://localhost:8084/HeapBeatsWebService/HeapBeatsWebServiceImpl" />
</port>
</service>
</definitions>